.main {
    width: 100%;
    max-width: 900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mark {
    position: absolute;
    bottom: -8vw;
    right: 0;
    width: 20vw;
    max-width: 200px;
    min-width: 100px;
}

@media screen and (max-width: 500px) {
    .mark {
        bottom: -40px;
    }
}

@media screen and (min-width: 1024px) {
    .mark {
        bottom: -100px;
    }
}

.body {
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 615px;
}

.body h3 {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}

.inputs {
    margin-top: 30px;
}

.component {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.inputs .component label {
    margin-bottom: 10px;
    color: #C4C4C4;
    font-weight: 400;
    font-size: 20px;
}
.inputs .component input {
    width: 100%;
    max-width: 800px;
    border: 2px solid #A8A8A8;
    border-radius: 8px;
    padding: 14px 10px 14px;
    outline: none;
    font-size: 16px;
}

.body button {
    width: 50%;
    max-width: 400px;
    border-radius: 8px;
    background-color: #5850F1;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px !important;
    padding: 10px 10px;
    margin-top: 40px;
    cursor: pointer;
}

.body button:disabled { background: #867e7e; color: #ececec; }

@media screen and (max-width: 960px) {
    .main {
        max-width: 700px;
    }

    .inputs {
        margin-top: 10px;
    }
    .component {
        margin-top: 10px;
    }
    .body button {
        width: 40%;
        margin-top: 20px;
        padding: 8px 10px;
        font-size: 16px !important;
    }
    .inputs .component label {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 960px) {
    .body {
        padding: 30px;
        height: 400px;
    }
    .body h3 {
        font-size: 28px !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
    .inputs .component label {
        font-size: 18px;
    }

    .inputs .component input {
        padding: 8px 10px 8px;
    }

}
@media screen and (max-width: 600px) {
    .body {
        padding: 20px;
    }
    .body h3 {
        font-size: 24px !important;
    }
    .inputs .component label {
        font-size: 15px;
    }

    .body button {
        width: 70%;
    }
}