.main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 300px;
    max-width: 450px;
    margin-top: 40px;
}


.bold {
    font-weight: 600 !important;
    font-size: 36px !important;
    color: #000 !important;
    margin-top: 40px !important;
}
.text {
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 43.2px;
    color: #000 !important;
}

.main img {
    width: 70%;
    align-self: center;
}
.main p {
    color: rgba(0, 0, 0, 0.38);
    font-size: 36px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 30px;
}
.main h3 {
    color: #6850FF;
    font-weight: 600;
    font-size: 64px;
    margin-left: 30px;
}

@media screen and (max-width: 1024px) {
    .main p {
        font-size: 5vw;
    }
    .main h3 {
        font-size: 8vw;
    }
    .bold, .text {
        font-size: 5vw !important;
        line-height: 6vw;
    }
}