.main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-width: 300px;
    margin-top: 80px;

}

.first {
    width: 30%;
}

.parag {
    width: auto;
    margin-left: 100px;
}

@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column;
        margin-top: 40px;
        text-align: center;
    }
    .first {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .parag {
        margin-left: 0;
    }
}


.bold {
    font-weight: 600 !important;
    font-size: 24px !important;
    color: #000 !important;
    margin-top: 40px !important;
}
.text {
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 43.2px;
    color: #000 !important;
}

.main img {
    width: 100%;
    align-self: center;
}
.main p {
    color: rgba(0, 0, 0, 0.38);
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 30px;
}
.main h3 {
    color: #6850FF;
    font-weight: 600;
    font-size: 50px;
    margin-left: 30px;
}

@media screen and (max-width: 1024px) {
    .main p {
        font-size: 5vw;
    }
    .main h3 {
        font-size: 8vw;
    }
    .bold, .text {
        font-size: 5vw !important;
        line-height: 6vw;
    }
}