@font-face {
    font-family: "Museo";
    src: url('./font/museo.woff2') format("woff2")
}

* {
    font-family: "Museo" !important;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}
