.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    overflow-y: visible;
    box-sizing: border-box;
    overflow: hidden;
}

.main h1 {
    font-family: "Inter", sans-serif !important;
    font-weight: 700;
    font-size: 50px;
}
.main h2 {
    font-weight: 700;
    font-size: 54px;
    margin-top: 40px;
}
.main h3 {
    font-family: "Inter", sans-serif !important;
    font-weight: 600;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.topStripe {
    position: absolute;
    width: 1204px;
    height: 872px;
    left: 0px;
    top: 0px;
}

.rightStripe {
    position: absolute;
    width: 1204px;
    height: 872.01px;
    top: 1000px;
    right: -50px;
}

@media screen and (max-width: 960px) {
    .topStripe {
        width: 83%;
        height: auto;
    }
    .rightStripe {
        width: 60%;
        right: 0px;
        height: auto;
    }
    .main h1 {
        font-size: 9vw;
    }
    .main h2 {
        font-size: 6vw;
        margin-top: 30px;
    }
    .main h3 {
        font-size: 40px;
    }
    .main h4 {
        font-size: 5vw;
        width: 90%;
    }
}

.table {
    width: 50%;
    box-sizing: border-box;
    min-width: 625px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0px calc(10px + 1vw);
    padding-top: 30px;
    padding-bottom: 30px;
}

.firstLi {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bodyLi {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #000;
}
.firstColumn {
    min-width: 268px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    border-right: 1px solid #000;
    padding: 20px 0;
    font-size: 24px;
}
.secondColumn {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-right: 1px solid #000;
    padding: 20px 0;
    font-size: 24px;
}
.thirdColumn {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 20px 0;
    font-size: 24px;
}
.bottomPar {
    font-size: 28px;
    line-height: 1.6;
    text-align: center;
    color: #000;
    font-weight: 300;
    margin-top: 100px;
}

@media screen and (max-width: 960px) {
    .table {
        width: 90%;
        min-width: 350px;
    }
    .firstColumn, .secondColumn, .thirdColumn {
        font-size: 12px;
        padding: 13px 0;
        min-width: 0;
    }
    .bottomPar {
        font-size: 14px;
        margin-top: 40px;
        padding: 0 16px;
    }
}
.table ul {
    width: 100%;
}
.table ul li {
    width: 100%;
}
.table_first {
    width: 100%;
}



.belbinLabel {
    display: block;
    margin-top: 220px;
    margin-bottom: 50px;
    padding-bottom: 200px;
    height: 150px;
}

.belbinLabel img {   
    height: 65px;
}

/*
.belbinLabel {
    margin-top: 150px;
    margin-bottom: 50px;
    transform: rotate(-6deg);
    background: url(../../assets/ResultPage/belbinLabel.svg) bottom center;
}

*/

@media screen and (max-width: 960px) {
    .belbinLabel {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .belbinLabel img {   
        height: 25px;
    }

}
@media screen and (max-width: 600px) {
    .belbinLabel {
        margin-top: 70px;
        margin-bottom: 20px;
    }
}